<div class="page-header">
    <h1>Tanda Tangan
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Buat Baru
        </small>
    </h1>
</div>

<%= render 'form', ttd: @ttd %>