<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style>
      div.alwaysbreak { page-break-before: always; }
      div.nobreak:before { clear:both; }
      div.nobreak { page-break-inside: avoid; }
    </style>
  </head>
  <body>
    <% @pendaftaran.each do |item| %>
      <div class="alwaysbreak"></div>
      <div style="padding-top:90px;padding-left:110px;padding-right:10px;font-size:12px;">
        <%= item.npwpd %>
      </div>
      <div style="padding-top:10px;padding-left:110px;padding-right:10px;font-size:12px;">
        <%= item.nama_usaha %>
      </div>
      <div style="padding-top:10px;padding-left:110px;padding-right:10px;font-size:12px;">
        <%= item.alamat_usaha %>
      </div>
    <% end %>
  </body>
</html>