<div class="page-header">
    <h1>Pendaftaran
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Buat baru
        </small>
    </h1>
</div>
<%= render 'form', pendaftaran: @pendaftaran %>
