<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller lighter blue">Index Jabatan</h3>
    <div class="clearfix"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="pull-right tableTools-container">
				<div class="dt-buttons btn-overlap btn-group">
					<%= link_to(raw('<i class="ace-icon fa fa-plus icon-on-right bigger-110"></i> Tambah Jabatan'), new_jabatan_path, class: "dt-button buttons-collection buttons-colvis btn btn-success") %>
				</div>
			</div>
		</div>
	</div>
	<div class="table-header"> Tabel Daftar Jabatan </div>
		<div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline">
			<div class="row">
				<%= smart_listing_controls_for(:jabatans, {class: "form-inline text-right"}) do %>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="input-group">
						<%= text_field_tag :filter, '', class: "search form-control", placeholder: "Search...", autocomplete: :on %>
						<div class="input-group-btn">
							<button class="btn btn-primary no-border btn-sm" type="submit">
								<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
							</button>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<%= smart_listing_render(:jabatans) %>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
