<div class="page-header">
    <h1>Kecamatan
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Edit
        </small>
    </h1>
</div>

<%= render 'form', kecamatan: @kecamatan %>
