<div class="page-header">
    <h1>Jenis usaha
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Edit Data
        </small>
    </h1>
</div>

<%= render 'form', usaha: @usaha %>
