// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors
  input, select
    { border: 1px solid red }
.field_with_errors
  select
    { border: 1px solid red }
.field_with_errors
  label
    { color: red }
.field_with_errors .chosen-container 
  { border: 1px solid red }
.table-container
  {
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0 0 1em;
  }
.money-left
{
    text-align: right;
  }
  .chosen-single div b {
    background: 0 0!important;
    text-align: center;
}
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    text-align: left;
    -webkit-overflow-scrolling: touch;
}
// .table-container
//   table
//     {
//       display: block;
//       overflow-x: auto;
//     }